name: Execute Unit Testing
on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  lint:
    uses: ./.github/workflows/run-flake8.yml
    with:
      file_under_test: 'test,'
      python-version: '3.11'

  testing:
    uses: ./.github/workflows/testing.yml
    with:
      file_under_test: test/unittest
      python-version: '3.11'

  build:
    needs: [testing]
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/build_image.yml
